S3method(generate,CCGammaObject)
S3method(generate,CCGammaObjectListPerEachMonth)
S3method(generate,YuleWalkerCoefficientBlockmatrices)
S3method(generate,YuleWalkerCoefficientBlockmatricesPerEachMonth)
export(CCGamma)
export(CCGammaToBlockmatrix)
export(CoeffYWeq)
export(TransitionMatrixMCFirstOrder)
export(dw.spell)
export(fitdistrForPrecipitation)
export(generatePrecipitationAmount)
export(gof.test.mod)
export(omega)
export(omega_inv)
export(omega_root)
export(qqfit)
import(Matrix)
import(RMAWGEN)
import(blockmatrix)
import(copula)
importFrom(RGENERATE,generate)
